@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-margin-top: rem(64);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  position: relative;
}

p {
  color: $dark-gray;
}

/* Trasitions */
a,
.btn {
  transition: all 100ms ease;
}
